---
version: 2
interactions:
    - id: 0
      request:
        host: api.robinhood.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://api.robinhood.com/portfolios/
        method: GET
      response:
        body: |
            {
              "results": [
                {
                  "account": "https://api.robinhood.com/accounts/REDACTED/",
                  "equity": "98234.5000",
                  "extended_hours_equity": "98240.1200",
                  "market_value": "72450.1000",
                  "last_core_equity": "97892.3500"
                }
              ]
            }
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
